@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --persona-red: #d31a1a;
  --persona-blue: #0095ff;
  --persona-yellow: #fff200;
  --persona-black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-p-red: var(--persona-red);
  --color-p-blue: var(--persona-blue);
  --color-p-yellow: var(--persona-yellow);
  --color-p-black: var(--persona-black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

.persona-cut {
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
}

.persona-slant {
  transform: skewX(-5deg);
}

.persona-text-shadow {
  text-shadow: 4px 4px 0px var(--persona-red);
}
